.DS_Store
00_Class Project Administration, Review and Evaluation.pdf
00_Project List.pdf
01_Project Summary.pdf
01_Project Summary.docx
01_Project Summary Comments.png
.ipynb_checkpoints/
.python-version
datasets/flight
datasets/mta*
datasets/ny-covid19-positive
datasets/taxi
scripts/commands.md